<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Polls</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<h1>All Polls</h1>
<table border="1">
    <thead>
    <tr>
        <th>Poll ID</th>
        <th>Title</th>
        <th>Type</th>
        <th>Poll Date</th>
        <th>Total Votes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="poll : ${polls}">
        <td th:text="${poll.PollID}"></td>
        <td th:text="${poll.Title}"></td>
        <td th:text="${poll.type}"></td>
        <td th:text="${#dates.format(poll.pollDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${poll.TotalValue}"></td>
    </tr>
    <tr th:if="${polls.size() == 0}">
        <td colspan="5">No polls available</td>
    </tr>
    </tbody>
</table>
</body>
</html>
